html, body {
  height: 100%;
  width: 100%;
}
table,th, td{
      border: 2px solid red;
      border-collapse: collapse;
    }
    tr{
      height: 50px;
    }
    tr:hover {
      background-color: #cd848f;
    }